.paddingconnections{
	padding-left: 25px;
	border: 5px solid #F16660;
}

.buttonfonts{
  font-family: delittle-chromatic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.paddingleft{
	padding-left: 3%;
}

.paddingright{
	padding-right: 3%;
}

.signupbut{
	margin-bottom: 3%; 
	margin-top: 3%; 
	border-radius: 0 !important; 
	height: 40px !important;
}
.blockie{
	display: block;
}

.heightusername{
	height: 225px;
}

.rpbutton{
	margin-bottom: 3%; margin-top: 3%; border-radius: 0; height: 40px; width: 150px !important;
}

.prusername{
	height: 380px;
}

.colloro{
	color: #000;
}

.botmarg{
	margin-bottom: 5%;
}
.rightmargin{
	margin-right: 2%;
}
.paddingzero{
	padding: 0;
}

.loginimage{
	height: 80px;
}

.rounded-circle2{
	border-radius: 50% !important;
	height: 300px;
	width: 300px;
	margin-left: -13px;
}
.btn-kwirk{
  background-color: #FFA85D;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.buttonfonts2{
  margin-left: 30%;
  margin-right: 80%;
  margin-bottom: 1px;
}

.img-navbar{
	height: 40px;
	width: auto;
}


.buttonwidth{
	width: 33.33%;
}
.buttongroupwidth{
	width:100%;
}
.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.centertext{
	text-align: center
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#A1E7E9;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
}
.footer-links li
{
  display:block;
}
.footer-links a
{
  color:#FFA85D;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#A1E7E9;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block;
}
.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}
.copyright-text
{
  margin:0;
  font-family: cubano, sans-serif;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center;
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe;
}
.footer-image-size
{
  line-height:30px;
  height:30px;
  width:30px;
  font-size:14px;
  align-self: center;
  margin-left: 3px;
  margin-bottom: 4px;
}
.social-icons a.tiktok:hover
{
  background-color:#69C9D0;
}
.social-icons a.instagram:hover
{
  background-color:#5851DB;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600;
  }
}

.navbar-color{
	background-color: #12ACB2;
}



.mycontent{
	width: 70%;
	height: auto;
	background: rgba(255, 229, 135, 1);
	margin: auto;
	font-family: cubano, sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 20px;
	text-align: center;
}

.mycontent2{
	width: 70%;
	height: auto;
	background: rgba(255, 229, 135, 1);
	margin: auto;
	font-family: cubano, sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 20px;
	text-align: left;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.carousel-caption{
	font-family: cubano;
	font-size: 25px;
	text-align: center;
	align-content: center;
}
.text-left{
    max-width: 200px;	
}


.centreimages{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 50%;
}

h3{
	text-align: center;
}

.footertext{
	font-family: cubano, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #FFA85D;
}


.carousel-dimensions{
	width: 75%;
	height: auto;
	margin: auto;
	padding: 0px;
}


.carousel-image{
	width: 75%;
	height: auto;
}

.pcenter{
	text-align: center;
}
.carousel-caption{
	font-size: auto;
}

.img-footer{
	height: 30px;
	width: auto;
}

a:hover {
  color: black;
}

.teamphoto{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.connectionphotos{
	border-radius: 50%;
	width: 171px;
	height: 171px;
}

.communityphotos{
	border-radius: 50%;
	width: 171px;
	height: 171px;
}

.personalphotos{
	border-radius: 50%;
	width: 171px;
	height: 171px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}


.contren_connect{
  min-height: 170px;
}

.btn-primary a{
  color: #fff;
}

.btn-primary a:hover{
  text-decoration: none;
  color: #FFA85D  ;
}

.paddingconnections2{
  padding: 25px;
  border: 5px solid #F16660;
}

.infoprojects{
  margin: 10px 100px;
}

#personal-profile{
	text-align: left !important;

}

#advertising-content{
	text-align: left
}

.btn-edit{
	margin-right: 700px;
	width: 160px;
	height: 45px;
	font-size: 20px;
}

.btn-buy{
	margin-right: 20px;
	width: 120px;
	height: 45px;
	font-size: 20px;
}

#img-ad{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

#contact-ad{
	text-align: center;
}
 
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #12ACB2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker blue color */
input[type=submit]:hover {
  background-color: #0D8388;
}

/* Add a background color and some padding around the form */
.container-sheet {
  border-radius: 50px;
  background-color: #FFA85D;
  padding: 100px;
	max-width: 70%;
	margin: auto;
}

.help-contact {
	text-align: left;
}
